.AppBar{
    margin-bottom: 40px;
    border-radius: 20px;
}

.image{
    
}
.brandContainer{
    display: flex;
    justify-content: space-between;
    background-color: rgb(234, 252, 245);
}

.heading{
    text-decoration: none;
    color:green;
    font-size: 1rem;
    display:flex;
    justify-content: space-around;
    
}
